{% extends "blog/base.html" %}
{% block content %}
    <h1>О проекте Rocket</h1>
    <main>
            <section>
                <p>Добро пожаловать на "Rocket" форум - онлайн сообщество, посвященное IT технологиям и всему, что с ними связано. Мы собираем людей со всего мира, которые любят и интересуются IT-сферой и предоставляем им площадку для общения, обмена опытом и знаниями.</p>
                <p>На нашем форуме вы можете найти много полезной информации, а также найти последние новости и тренды в мире IT.</p>
                <p>Мы стремимся создать дружелюбное и взаимопонимающее сообщество, где каждый может найти своих единомышленников и получить поддержку в своих проектах и идеях. Присоединяйтесь к нам и станьте частью нашего сообщества!</p>
            </section>
	</main>
{% endblock content %}